<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="{{url_for('viewall')}}" method="post">

        <input type="radio"  name="time" value="12:00">
        <label for="male">12:00</label>
        <input type="radio"  name="time" value="17:00">
        <label for="female">17:00</label>
        <input type="radio"  name="time" value="21:00">
        <label for="other">21:00</label><br> <br>

      <input type="submit" value="Submit">

    </form>

  </body>
</html>
